@media screen and (max-width: em(480)) {
    .side-nav {
        width: $sidebar-nav-width-mobile;
    }
    .side-nav-transitioning,
    .side-nav-open .side-nav-overlay {
        right: $sidebar-nav-width-mobile;
    }
    .side-nav__scrollable-container {
        transform: translateX($sidebar-nav-width-mobile);
    }
    body.side-nav-open {
        .site {
            transform: translateX(-$sidebar-nav-width-mobile);
        }
    }
}