@media screen and (max-width: 600px) {

    /* Compatibility with WP admin bar */
    .admin-bar:not(.side-nav-open) .headroom {
        top: 46px;
    }

    .admin-bar:not(.side-nav-open) .site-header.headroom--not-top {
        top: 0;
    }

}

@media screen and (max-width: em(480)) {

    .site-header.headroom--not-top {
        top: 0;
    }

    .side-nav {
        width: $sidebar-nav-width-mobile;
    }
    .side-nav-transitioning,
    .side-nav-open .side-nav-overlay {
        right: $sidebar-nav-width-mobile;
    }
    .side-nav__scrollable-container {
        transform: translateX($sidebar-nav-width-mobile);
    }
    body.side-nav-open {
        .site {
            transform: translateX(-$sidebar-nav-width-mobile);
        }
    }
}
