@media screen and (min-width: em(768)) {
    .single {
        h1.entry-title {
            @include font-size(42);
        }
    }


    /* Layout */

    .inner-wrap {
        max-width: $content-width;
    }

    .page-layout-sidebar-right {
        &.has-sidebar {
            &:not(.error404) #primary,
            &:not(.search) #primary,
            &:not(.archive) #primary {
                float: left;
                width: 75%;
                padding-right: 4%;
            }

            #secondary {
                float: right;
                padding: 0 0 em(20) 4%;
                width: 25%;
                margin-bottom: em(32);
                border-left: 1px solid $color-border;
            }

            &.page,
            &.single {
                .entry-wrapper {
                    .entry-content {
                        float: left;
                        width: 75%;
                        max-width: 100%;
                        padding-right: 4%;
                        padding-left: 0;
                        margin: 0;
                    }
                }
            }
        }
    }

    .error404 #primary,
    .search #primary,
    .archive #primary {
        float: none;
    }

    /* Site Branding */

    .site-branding {
        margin-bottom: 0;
    }
    .has-header-image.inspiro-front-page .custom-header,
    .has-header-video.inspiro-front-page .custom-header,
    .has-header-image.home.blog .custom-header,
    .has-header-video.home.blog .custom-header {
        display: block;
        height: auto;
    }
    .custom-header-media {
        height: 165px;
        position: relative;
    }
    .inspiro-front-page {
        &.has-header-image .custom-header-media,
        &.has-header-video .custom-header-media {
          height: 0;
          position: relative;
        }
    }
    .home.blog {
        &.has-header-image .custom-header-media,
        &.has-header-video .custom-header-media {
          height: 0;
          position: relative;
        }
    }
    .has-header-image:not(.inspiro-front-page):not(.home),
    .has-header-video:not(.inspiro-front-page):not(.home) {
        .custom-header {
            height: 450px;
        }
        .site-branding {
            position: absolute;
            text-align: left;
            bottom: 30px;
            left: 0;
            width: 100%;
        }
        .custom-header-media {
            bottom: 0;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
        }
    }

    /* Front Page */

    .inspiro-front-page {
        &.has-header-image .site-branding,
        &.has-header-video .site-branding {
            margin-bottom: 70px;
        }
    }
    .home.blog {
        &.has-header-image .site-branding,
        &.has-header-video .site-branding {
            margin-bottom: 70px;
        }
    }
    .inspiro-front-page {
        &.has-header-image .custom-header-media,
        &.has-header-video .custom-header-media {
            height: 1200px;
            height: 100vh;
            max-height: 100%;
            overflow: hidden;
        }
    }
    .home.blog {
        &.has-header-image .custom-header-media,
        &.has-header-video .custom-header-media {
            height: 1200px;
            height: 100vh;
            max-height: 100%;
            overflow: hidden;
        }
    }
    .inspiro-front-page {
        &.has-header-image .custom-header-media:after,
        &.has-header-video .custom-header-media:after {
            height: 33%;
        }
    }
    .home.blog {
        &.has-header-image .custom-header-media:after,
        &.has-header-video .custom-header-media:after {
            height: 33%;
        }
    }
    .admin-bar {
        &.inspiro-front-page {
            &.has-header-image .custom-header-media,
            &.has-header-video .custom-header-media {
                height: calc(100vh - 32px);
            }
        }
        &.home.blog {
            &.has-header-image .custom-header-media,
            &.has-header-video .custom-header-media {
                height: calc(100vh - 32px);
            }
        }
    }

    /* Secondary */

    #secondary {
        @include font-size(16);
        line-height: 1.6;
    }

    /* Footer */

    .site-footer {
        @include font-size(16);
        line-height: 1.6;

        .footer-widgets {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
        }
        @for $i from 1 through 4 {
            .widget-columns-#{ $i } .widget-column {
                flex: 0 0 calc(100% / #{ $i });
            }
        }
        .widget-column {
            padding-right: em(40);
            &:last-child {
                padding-right: 0;
            }
        }
    }
}