@media screen and (max-width: em(480)) {

    /* Compatibility with WP admin bar */

    .admin-bar:not(.side-nav-open) .headroom {
        top: 32px;
    }


    /* Footer */

    .site-footer {
        @include font-size(14);
        line-height: 1.6;

        @for $i from 1 through 4 {
            .widget-columns-#{ $i } .widget-column {
                flex: 0 0 50%;
            }
        }
    }
}