@media screen and (min-width: 768px) {
    .headroom--not-top  {
        box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
        .navbar {
            background: rgba(0,0,0,.9);
            padding: 12px 0;
        }
        .navbar-brand-wpz img {
            transition: all .2s ease-in-out;
            max-height: 70px;
            width: auto;
        }
    }
    .site-header {
        &.headroom {
            width: 100%;
            z-index: 1000;
            position: fixed;
            top: 0;
            .tagline {
                transition-duration: .2s;
            }
        }
        &.headroom--not-top {
            position: fixed;
            top: 0;
            border: none;
        }
    }
    /* Compatibility with WP admin bar */
    .admin-bar .headroom {
        top: 32px;
    }
}