/**
 * Inspiro Lite: Dark Color Scheme
 *
 * See inc/color-patterns.php for dynamic color overrides for the theme.
 *
 * Colors are ordered from light to dark.
 */
@import "variables-site/colors";

body.colors-dark {
    background-color: #222;
    color: #eee;

    .site-content-contain {
        background: #222;
        color: #eee;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    &.blog .page-title,
    &.search .page-title,
    &.archive .page-title,
    .widget .title,
    .entry-title {
        color: #ddd;
    }

    .entry-meta,
    .entry-footer {
        color: #777;
    }

    .entry-meta a,
    .entry-title a,
    .entry-footer .post-author a,
    .comment-author .fn,
    .comment-author .fn a {
        color: #ddd;

        &:hover {
            color: $primary-color;
        }
    }

    .pagination .page-numbers,
    .comments-pagination .page-numbers {
        color: #777;
    }

    .pagination .page-numbers:not(.dots):hover,
    .pagination .page-numbers.current,
    .comments-pagination .page-numbers:not(.dots):hover,
    .comments-pagination .page-numbers.current {
        color: $primary-color;
    }

    &.blog .entry-meta a,
    &.archive .entry-meta a,
    &.search .entry-meta a {
        border-color: #333;
    }

    &.blog .site-main > article:not(.sticky):after,
    &.archive .site-main > article:not(.sticky):after,
    &.search .site-main > article:not(.sticky):after,
    &:not(.has-archive-description):not(.has-header-image) .page-title:after,
    &:not(.has-archive-description):not(.has-header-image).page .entry-title:after,
    .entry-footer .section-title:before,
    #comments > h3:after,
    #respond > h3:after {
        background-color: #333;
    }

    &.page-layout-sidebar-right.has-sidebar #secondary {
        border-color: #555;
    }

    .button:not(.custom-header-button),
    .btn,
    .more-link,
    .more_link,
    .side-nav .search-form .search-submit,
    div.wpforms-container-full .wpforms-form input[type=submit],
    div.wpforms-container-full .wpforms-form button[type=submit],
    div.wpforms-container-full .wpforms-form .wpforms-page-button,
	.form-submit #submit {
        color: #eee;
        border-color: #555;
    }

    .search-form button, .search-form input {
        color: #fff;
    }

    input,
    textarea {
        background-color: transparent;
    }

    pre,
    mark,
    ins,
    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="search"],
    input[type="number"],
    input[type="tel"],
    input[type="range"],
    input[type="date"],
    input[type="month"],
    input[type="week"],
    input[type="time"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="color"],
    textarea,
    select,
    fieldset {
        color: #ccc;
        background: #333;
    }

    .sticky {
        border-color: #555;

        .svg-icon-thumb-tack {
            background-color: #222;
        }
    }

    .sb-search.sb-search-open .sb-search-input {
        background-color: #000;
    }

    .side-nav .search-form .search-submit:hover {
        color: $primary-color;
        border-color: $primary-color
    }

    .navbar-toggle {
        background-color: transparent;
        border-color: transparent;
    }

    &.woocommerce a.button,
    &.woocommerce button.button,
    &.woocommerce input.button,
    &.woocommerce #respond input#submit,
    &.woocommerce #content input.button,
    &.woocommerce-page a.button,
    &.woocommerce-page button.button,
    &.woocommerce-page input.button,
    &.woocommerce-page #respond input#submit {
        color: #fff;
        border: 2px solid #555;
        background: none;
    }

    &.woocommerce a.button:hover,
    &.woocommerce button.button:hover,
    &.woocommerce input.button:hover,
    &.woocommerce #respond input#submit:hover,
    &.woocommerce #content input.button:hover,
    &.woocommerce-page a.button:hover,
    &.woocommerce-page button.button:hover,
    &.woocommerce-page input.button:hover,
    &.woocommerce-page #respond input#submit:hover,
    &.woocommerce-page #content input.button:hover {
        color: $primary_color;
        border: 2px solid $primary_color;
        background: none;
    }


    &.woocommerce div.product form.cart .button,
    &.woocommerce-page div.product form.cart .button,
    &.woocommerce #content div.product form.cart .button,
    &.woocommerce-page #content div.product form.cart .button,
    &.woocommerce a.button.alt,
    &.woocommerce-page a.button.alt,
    &.woocommerce button.button.alt,
    &.woocommerce-page button.button.alt,
    &.woocommerce input.button.alt,
    &.woocommerce-page input.button.alt,
    &.woocommerce #respond input#submit.alt,
    &.woocommerce-page #respond input#submit.alt,
    &.woocommerce #content input.button.alt,
    #main .woocommerce-page #content input.button.alt {
        color: #fff;
        border: 2px solid #555;
        background: none;

        &:hover {
            color: $primary_color;
            border: 2px solid $primary_color;
            background: none;
        }
    }

    &.woocommerce button.button.alt.disabled:hover {
        background: #333;
        color: #fff;
    }

    &.woocommerce div.product form.cart .button:hover,
    &.woocommerce-page div.product form.cart .button:hover,
    &.woocommerce-page #main a.button:hover,
    &.woocommerce button.button:hover,
    &.woocommerce input.button:hover,
    &.woocommerce #respond input#submit:hover,
    &.woocommerce #content input.button:hover,
    &.woocommerce-page a.button:hover,
    &.woocommerce-page button.button:hover,
    &.woocommerce-page input.button:hover,
    &.woocommerce-page #respond input#submit:hover,
    &.woocommerce-page #main input.button:hover,
    &.woocommerce button.button.alt:hover {
        color: $primary_color;
        border: 2px solid $primary_color;
        background: none;
    }

    .woocommerce table.shop_table {
        border: 1px solid rgba(255,255,255, .10);
    }

    #add_payment_method #payment,
    .woocommerce-cart #payment,
    .woocommerce-checkout #payment {
        background: #343434;
        border-radius: 5px;
        border: 2px solid #525252;
    }

    &.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,
    &.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
    &.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active,
    &.woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
        background: none !important;
    }
}