
/* no necessary go button styles */
/*.ins-go-button:hover,*/
/*.ins-go-button:focus,*/
/*a.ins-go-button:hover,*/
/*a.ins-go-button:focus {*/
/*	border-color: #005082;*/
/*	color: #fff*/
/*}*/

/*.ins-go-button:focus,*/
/*a.ins-go-button:focus {*/
/*	box-shadow: 0 0 0 2px #78dcfa*/
/*}*/

/*.ins-go-button:active,*/
/*a.ins-go-button:active {*/
/*	border-width: 2px 1px 1px;*/
/*	box-shadow: none;*/
/*	vertical-align: baseline*/
/*}*/

/*.ins-go-button[disabled],*/
/*.ins-go-button:disabled,*/
/*a.ins-go-button[disabled],*/
/*a.ins-go-button:disabled {*/
/*	color: #fff;*/
/*	background: #bceefd;*/
/*	border-color: #8cc9e2;*/
/*	cursor: default*/
/*}*/

/*.ins-go-button[disabled]:active,*/
/*.ins-go-button:disabled:active,*/
/*a.ins-go-button[disabled]:active,*/
/*a.ins-go-button:disabled:active {*/
/*	border-width: 1px 1px 2px*/
/*}*/

/* main container */
.ins-guided-tour {
	color: #50575e;
	background-color: rgba(239, 244, 247);
	border: 1px solid rgb(220, 220, 222, .8);
	display: block;
	border-radius: 5px;
	box-shadow: 3px 1px 5px -2px rgba(0, 0, 0, .145);
	font-size: 1.1em;
	z-index: 999999998;
	text-align: left;
	box-sizing: border-box;
	position: fixed;
	left: 5px;
	width: 360px;
	transition-duration: 250ms;
	transition-property: opacity;
	transition-timing-function: ease-in-out;
}

.ins-guided-tour::before {
	content: "";
	width: 26px;
	height: 26px;
	display: block;
	position: absolute;
	top: 30px;
	left: -13px;
	transform: rotate(45deg);
	border-left: 1px solid rgb(220, 220, 222, .8);
	border-bottom: 1px solid rgb(220, 220, 222, .8);
	background: linear-gradient(225deg, rgba(255, 255, 255, 0) 50%, rgba(239, 244, 247) 50%);
}

.ins-guided-tour .ins-guided-tour-step {
	padding: 30px;
	overflow: hidden
}

.ins-guided-tour .ins-guided-tour-step p {
	font-size: 1em;
	line-height: 1.7;
	opacity: .8;
}

.ins-guided-tour .ins-guided-tour-step h2 {
	margin-top: 0;
	color: #50575e;
}

.ins-guided-tour .guided-tour-step-nav-elements {
	display: flex;
	align-items: center;
}

.ins-guided-tour:not(.ins-first-step) .guided-tour-step-nav-elements{
	justify-content: end;
}

.ins-guided-tour .ins-guided-tour-step .ins-guided-tour-skip {
	margin-left: 10px;
	/*color: #00aadc*/
}

.ins-guided-tour .ins-guided-tour-step .ins-guided-tour-skip:hover {
	opacity: .75
}

.ins-guided-tour:not(.ins-first-step) .ins-guided-tour-step a.ins-go-button {
	display: none
}

.ins-guided-tour:not(.ins-first-step) .ins-guided-tour-step a.ins-guided-tour-skip{
	margin-left: 0;
}

.ins-guided-tour:not(.ins-first-step) .ins-guided-tour-step .ins-guided-tour-skip {
	display: block;
	float: right
}

.ins-guided-tour.ins-inside-section .ins-guided-tour-step a.ins-go-button {
	display: inline-block
}

.ins-guided-tour.ins-inside-section .ins-guided-tour-step .ins-guided-tour-skip {
	display: none
}

.ins-guided-tour.ins-last-step .ins-guided-tour-step a.ins-go-button {
	display: inline-block
}

a.ins-go-button {
	vertical-align: middle
}

a.ins-go-button:active {
	vertical-align: middle
}

.ins-loaded {
	opacity: 1
}

.ins-moving {
	transition-duration: 250ms;
	transition-property: transform;
	transition-timing-function: cubic-bezier(0.84, 0.45, 0.68, 1.44)
}

.ins-entering .ins-guided-tour, .ins-exiting .ins-guided-tour {
	animation-duration: .3s;
	animation-timing-function: ease-in-out;
	-webkit-animation-duration: .3s;
	-webkit-animation-timing-function: ease-in-out
}

.ins-entering .ins-guided-tour {
	animation-name: bounceInLeft;
	-webkit-animation-name: bounceInLeft
}

.ins-exiting .ins-guided-tour {
	animation-name: bounceOutRight;
	-webkit-animation-name: bounceOutRight
}

@keyframes bounceInLeft {
	from {
		opacity: 0;
		transform: translateX(100%)
	}
	to {
		opacity: 1;
		transform: translateX(0)
	}
}

@keyframes bounceOutRight {
	to {
		opacity: 0;
		transform: translateX(100%)
	}
}
