/* Front Page - Recent Posts */

.twentyseventeen-front-page .panel-content .recent-posts article {
    border: 0;
    color: #333;
    margin-bottom: 3em;
}

.recent-posts .entry-header {
    margin-bottom: 1.2em;
}

.page .panel-content .recent-posts .entry-title {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: none;
}

.twentyseventeen-panel .recent-posts .entry-header .edit-link {
    color: #222;
    display: inline-block;
    font-size: 11px;
    font-size: 0.6875rem;
    margin-left: 1em;
}