.wpz-welcome-notice {
    position: relative;
    background-image: url("data:image/svg+xml,%3Csvg width='240' height='94' viewBox='0 0 56 164' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.1' d='M0 0H540V164H81.5C36.4888 164 0 127.511 0 82.5V0Z' fill='%233496FF'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: contain;
    border-left-width: 1px;
    overflow: hidden;
    border-radius: 10px;
    -js-display: flex;
    display: flex;
    justify-content: flex-start;
    padding: 5px 25px 0 15px;
}

.wpz-welcome-notice a {
    font-weight: 600;
}

.wpz-welcome-notice .wpz-notice-image {
    margin: 0 5px 0 0;
    max-width: 250px;
    -js-display: flex;
    display: flex;
    align-items: flex-end;
}

.wpz-welcome-notice .wpz-notice-image img {
    vertical-align: bottom;
}

.wpz-welcome-notice .wpz-notice-text p a {
    color: #3496ff;
}

.wpz-welcome-notice .wpz-notice-text p a:hover {
    text-decoration: none;
}

.wpz-welcome-notice h3 {
    margin-top: 25px;
    margin-bottom: 10px;
}

.wpz-welcome-notice .button {
    -js-display: inline-flex;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    color: #fff;
    background-color: #3496ff;
    padding: 3px 13px;
    border: none;
    transition: all 0.3s ease;
    margin-right: 5px;
}

.wpz-welcome-notice .button:hover, .wpz-welcome-notice .button:active {
    color: #fff;
    background-color: #67b0ff;
}

.wpz-welcome-notice .button.button-secondary {
    color: #3496ff;
    border: 1px solid #3496ff;
    background-color: transparent;
}

.wpz-welcome-notice .button.button-secondary:hover, .wpz-welcome-notice .button.button-secondary:active {
    background-color: rgba(52, 150, 255, 0.1);
}

.wpz-welcome-notice .wpz-welcome-notice-button {
    margin-top: 20px;
    margin-bottom: 20px;
}

.wpz-welcome-notice-hide {
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .wpz-welcome-notice {
        background: #fff;
        flex-direction: column;
    }
}
