includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: max
    bootstrapFiles:
        - functions.php
    paths:
        - ./*.php
        - /inc/*.php
        - page-templates
        - template-parts
    checkMissingIterableValueType: false
