/* Site branding */

.site-branding {
    padding: 1em 0;
    position: relative;
    z-index: 3;
    text-align: center;

    a {
        text-decoration: none;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;

        &:hover,
        &:focus {
            opacity: 0.7;
        }
    }
}

.site-title {
    clear: none;
    @include font-size(72);
    font-weight: 200;
    line-height: 1.25;
    letter-spacing: 0.08em;
    margin: 0;
    padding: 0;

    &,
    a {
        color: #222;
        opacity: 1; /* Prevent opacity from changing during selective refreshes in the customize preview */
    }
}

body {
    &.has-header-image,
    &.has-header-video {
        .site-title {
            &,
            a {
                color: #fff;
            }
        }
    }
}

.site-description {
    color: #666;
    @include font-size(20);
    margin-bottom: 0;
}

body {
    &.has-header-image,
    &.has-header-video {
        .site-description {
            color: #fff;
            opacity: 0.8;
        }
    }
}

.custom-logo-link {
    display: inline-block;
    padding: 0;
    padding-right: 1em;
    vertical-align: middle;
    max-width: 350px;
    float: left;

    h1 {
        margin: 0;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: $font-headings;
    }
    img {
        display: inline-block;
        max-height: 80px;
        width: auto;
    }
    a:hover,
    a:focus {
        text-decoration: none;
        opacity: 0.9;
        color: #fff;
    }
}

.custom-logo-text {
    display: inline-block;
    padding: 0;
    padding-right: em(10);
    vertical-align: middle;
    max-width: 350px;
    float: left;
}

body.wp-custom-logo {
    .custom-logo-link {
        a {
            font-size: 0; // Prevent extra space around the logo image
        }
    }
}

body:not(.wp-custom-logo) {
    a.custom-logo-text {
        margin: 0;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: $font-headings;
        @include font-size(26);
        text-transform: uppercase;
    }
}

body {
    &.home.title-tagline-hidden.has-header-image,
    &.home.title-tagline-hidden.has-header-video {
        .custom-logo-link {
            img {
                max-height: 200px;
                max-width: 100%;
            }
        }
    }
    &:not(.title-tagline-hidden) .site-branding-text {
        display: inline-block;
        max-width: 100%;
        vertical-align: middle;
    }
}

.custom-header {
    position: relative;
}

.has-header-image,
.has-header-video {
    &.inspiro-front-page,
    &.home.blog {
        .site-branding {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
        }
        .custom-header {
            display: table;
            height: 300px;
            height: 100vh;
            width: 100%;
        }
    }
}

.custom-header-media {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;

    &:after {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.3+75 */
        background: -moz-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 75%, rgba(0, 0, 0, 0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00000000", endColorstr="#4d000000", GradientType=0); /* IE6-9 */
        bottom: 0;
        content: "";
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: 2;
    }
}

.has-header-image,
.has-header-video {
    .custom-header-media {
        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .5) 100%);
            background-image: -o-linear-gradient(top, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .5) 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .3)), to(rgba(0, 0, 0, .5)));
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, .3) 0%, rgba(0, 0, 0, .5) 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A000000', endColorstr='#80000000', GradientType=0);
            opacity: 1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
        }
    }
}

.has-header-image {
    .custom-header-media {
        img {
            position: fixed;
            height: auto;
            left: 50%;
            max-width: 1000%;
            min-height: 100%;
            min-width: 100%;
            min-width: 100vw; /* vw prevents 1px gap on left that 100% has */
            width: auto;
            top: 50%;
            padding-bottom: 1px; /* Prevent header from extending beyond the footer */
            -ms-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

.has-header-video {
    .custom-header-media {
        video,
        iframe {
            position: fixed;
            height: auto;
            left: 50%;
            max-width: 1000%;
            min-height: 100%;
            min-width: 100%;
            min-width: 100vw; /* vw prevents 1px gap on left that 100% has */
            width: auto;
            top: 50%;
            padding-bottom: 1px; /* Prevent header from extending beyond the footer */
            -ms-transform: translateX(-50%) translateY(-50%);
            -moz-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
        }
    }
}

.wp-custom-header {
    .wp-custom-header-video-button {  /* Specificity prevents .color-dark button overrides */
        background-color: rgba(34, 34, 34, 0.5);
        border: 1px solid rgba(255, 255, 255, 0.6);
        color: rgba(255, 255, 255, 0.6);
        width: 45px;
        height: 45px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        right: em(30);
        bottom: em(60);
        -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
        transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
        z-index: 3;

        &:hover,
        &:focus {
            border-color: rgba(255, 255, 255, 0.8);
            background-color: rgba(34, 34, 34, 0.8);
            color: #fff;
        }

        .svg-icon {
            margin-top: 6px;
            max-height: em(22);
            fill: #fff;
        }
    }
}

.has-header-image {
    &:not(.inspiro-front-page):not(.home) {
        .custom-header-media {
            img {
                bottom: 0;
                position: absolute;
                top: auto;
                -ms-transform: translateX(-50%) translateY(0);
                -moz-transform: translateX(-50%) translateY(0);
                -webkit-transform: translateX(-50%) translateY(0);
                transform: translateX(-50%) translateY(0);
            }
        }
    }
}

/* For browsers that support 'object-fit' */
@supports ( object-fit: cover ) {
    .has-header-image .custom-header-media img,
    .has-header-video .custom-header-media video,
    .has-header-image:not(.inspiro-front-page):not(.home) .custom-header-media img {
        height: 100%;
        left: 0;
        -o-object-fit: cover;
        object-fit: cover;
        top: 0;
        -ms-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
        width: 100%;
    }
}

/* Scroll to content */

/* Effect used for #scroll-to-content */
@-webkit-keyframes pulsate {
    0% { opacity: 0.5 }
    50% { opacity: 1 }
    100% { opacity: 0.3 }
}
@keyframes pulsate {
    0% { opacity: 0.5 }
    50% { opacity: 1 }
    100% { opacity: 0.3 }
}

#scroll-to-content {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 20px;
    z-index: 5;
    cursor: pointer;
    height: em(24);
    width: em(56);
    overflow: hidden;
    opacity: 0.5;
    transform: translateX(-50%);

    -webkit-animation: pulsate 1.5s ease-out infinite;
    -o-animation: pulsate 1.5s ease-out infinite;
    animation: pulsate 1.5s ease-out infinite;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        bottom: 10px;
        height: 30px;
        width: 30px;
        border: 2px solid #fff;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:hover {
        opacity: 1;
    }
}

/* Hides div in Customizer preview when header images or videos change. */

body:not(.has-header-image):not(.has-header-video) {
    .custom-header-media,
    #scroll-to-content {
        display: none;
    }
}
