$browser-context: 16 !default;

// Rem output with px fallback
@mixin font-size($sizeValue: 1 ) {
    @if (unitless($sizeValue)) {
        $sizeValue: $sizeValue * 1px;
    }

    @if (unitless($font-size-root)) {
        $font-size-root: $font-size-root * 1px;
    }

    font-size: $sizeValue;
    font-size: ($sizeValue / $font-size-root) * 1rem;
}

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix() {
    content: "";
    display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
    clear: both;
}