.inspiro-customizer {
    &.has-header-image,
    &.has-header-video {
        .custom-header {
            margin-top: 0 !important;
        }
    }
}

.highlight-front-sections.inspiro-customizer.inspiro-front-page .inspiro-panel:after {
    border: 2px dashed #0085ba; /* Matches visible edit shortcuts. */
    bottom: 1em;
    content: "";
    display: block;
    left: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1;
}

.highlight-front-sections.inspiro-customizer.inspiro-front-page .inspiro-panel .panel-content {
    z-index: 2; /* Prevent :after from preventing interactions within the section */
}

/* Used for placeholder text */
.inspiro-customizer.inspiro-front-page .inspiro-panel .inspiro-panel-title {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 3em;
    text-transform: uppercase;
    text-align: center;
}

/* Show borders on the custom page panels only when the front page sections are being edited */
.highlight-front-sections.inspiro-customizer.inspiro-front-page .inspiro-panel:nth-of-type(1):after {
    border: none;
}

.inspiro-front-page.inspiro-customizer #primary article.panel-placeholder {
    border: 0;
}

/* Add some space around the visual edit shortcut buttons. */
.inspiro-panel > .customize-partial-edit-shortcut > button {
    top: 30px;
    left: 30px;
}

/* Ensure that placeholder icons are visible. */
.inspiro-panel .customize-partial-edit-shortcut-hidden:before {
    visibility: visible;
}