.post-thumbnail {
    margin-bottom: em(30);

    a {
        display: inline-block;
        font-size: 0;

        img {
            -webkit-backface-visibility: hidden;
            transition: opacity 0.2s;
        }

        &:hover img,
        &:focus img {
            opacity: 0.7;
        }
    }
}