#secondary {
    padding: 1em 0 2em;
}

.widget {
    margin-bottom: 40px;
    .title {
        margin: 0 0 20px;
        font-size: 20px;
        text-transform: uppercase;
        font-family: $font-headings;
        font-weight: bold;
    }
    ul {
        clear: both;
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
        }
        ul {
            margin: 0;
            padding: 0;
            border-top: none;
            li {
                border: none;
            }
        }
    }
}
.textwidget img {
    max-width: 100%;
    height: auto;
}

@import "forms", "lists", "gravatar", "gallery", "search", "tagcloud", "widget-text", "widget-rss", "widget-contact-info", "widget-recent-comments", "widget-recent-posts", "widget-calendar"; 