#secondary {
    padding: 1em 0 2em;
}

.widget {
    padding-bottom: 3em;
}

h2.widget-title {
    color: #222;
    font-size: 13px;
    font-size: 0.8125rem;
    font-weight: 800;
    letter-spacing: 0.1818em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

.widget-title a {
    color: inherit;
}

/* Widget markup */

.widget .post-date,
.widget .rss-date {
    font-size: 0.81em;
}

@import "forms", "lists", "gravatar", "gallery", "search", "tagcloud", "widget-text", "widget-rss", "widget-contact-info", "widget-recent-comments", "widget-recent-posts", "widget-calendar"; 