#secondary {
    padding: 1em 0 2em;
}

.widget_block,
.widget {
    margin-bottom: 40px;

    .wp-block-group__inner-container > h2,
    .wp-block-search__label,
    .title {
        margin: 0 0 20px;
        font-size: 20px;
        text-transform: uppercase;
        font-family: $font-headings;
        font-weight: bold;
    }
    ul {
        clear: both;
        margin: 0;
        padding: 0;
        li {
            list-style-type: none;
        }
        ul {
            margin: 0;
            padding: 0;
            border-top: none;
            li {
                border: none;
            }
        }
    }

    .wp-block-group>.wp-block-group__inner-container {
        padding: 0;
    }

}
.textwidget img {
    max-width: 100%;
    height: auto;
}

@import "forms", "lists", "gravatar", "gallery", "search", "tagcloud";
@import "widget-text", "widget-rss", "widget-contact-info", "widget-recent-comments", "widget-recent-posts", "widget-calendar"; 
@import "wpzoom-instagram";