/* widget lists */

.widget ul {
    list-style: none;
    margin: 0;
}

.widget ul li,
.widget ol li {
    padding: em(6) 0;
}

.widget:not(.widget_tag_cloud) ul li + li {
    margin-top: -1px;
}

.widget ul li ul {
    margin: 0 0 -1px;
    padding: 0;
    position: relative;
}

.widget ul li li {
    border: 0;
    padding-left: 24px;
    padding-left: 1.5rem;
}

/* Widget lists of links */

.widget_top-posts ul li ul,
.widget_rss_links ul li ul,
.widget-grofile ul.grofile-links li ul,
.widget_pages ul li ul,
.widget_meta ul li ul {
    bottom: 0;
}

.widget_nav_menu ul li li,
.widget_top-posts ul li,
.widget_top-posts ul li li,
.widget_rss_links ul li,
.widget_rss_links ul li li,
.widget-grofile ul.grofile-links li,
.widget-grofile ul.grofile-links li li {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}

.widget_rss ul li {
    padding-bottom: 1em;
    padding-top: 1em;
}