/* Search */

.search-form {
    position: relative;
    input,
    button {
        height: 40px;
        background: transparent;
        border: 2px solid #565555;
        box-sizing: border-box;
        -webkit-appearance: none;
        border-radius: 0;
        transition: 0.2s ease all;

        &:focus {
            border-color: $primary-color;
        }
    }
    .search-field {
        width: 100%;
        padding: 0px 100px 0 10px;
    }
    .search-submit {
        padding: 0 12px;
        position: absolute;
        bottom: 0;
        right: 0;
        .svg-icon {
            display: none;
        }
    }
}

.site-footer .search-form .search-field,
.side-nav .search-form .search-field {
    color: #eee;
}

.side-nav .search-form .search-submit {
    font-family: $font-headings;
    font-weight: bold;
    display: inline-block;
    padding: em(10) em(25);
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include font-size(12);
    color: $primary-color;
    border: 2px solid $primary-color;
    background-image: none;
    user-select: none;
    transition: color 0.2s ease, border-color 0.2s ease, background-color 0.2s ease;

    &:hover {
        text-decoration: none;
        color: $primary-color;
        border-color: $primary-color;
    }
}