/* Search */

.search-form {
    position: relative;
}

.search-form .search-submit {
    bottom: 3px;
    padding: 0.5em 1em;
    position: absolute;
    right: 3px;
    top: 3px;
}

.search-form .search-submit .icon {
    height: 24px;
    top: -2px;
    width: 24px;
}