/* RSS Widget */

.widget_rss .widget-title .rsswidget:first-child {
    float: right;
}

.widget_rss .widget-title .rsswidget:first-child:hover {
    background-color: transparent;
}

.widget_rss .widget-title .rsswidget:first-child img {
    display: block;
}

.widget_rss ul li {
    padding: 2.125em 0;
}

.widget_rss ul li:first-child {
    border-top: none;
    padding-top: 0;
}

.widget_rss li .rsswidget {
    font-size: 22px;
    font-size: 1.375rem;
    font-weight: 300;
    line-height: 1.4;
}

.widget_rss .rss-date,
.widget_rss li cite {
    color: #767676;
    display: block;
    font-size: 10px;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.18em;
    line-height: 1.5;
    text-transform: uppercase;
}

.widget_rss .rss-date {
    margin: 0.5em 0 1.5em;
    padding: 0;
}

.widget_rss .rssSummary {
    margin-bottom: 0.5em;
}