/* Text widget */

.widget_text {
    word-wrap: break-word;
}

.widget_text ul {
    list-style: disc;
    margin: 0 0 1.5em 1.5em;
}

.widget_text ol {
    list-style: decimal;
}

.widget_text ul li,
.widget_text ol li {
    border: none;
}

.widget_text ul li:last-child,
.widget_text ol li:last-child {
    padding-bottom: 0;
}

.widget_text ul li ul {
    margin: 0 0 0 1.5em;
}

.widget_text ul li li {
    padding-left: 0;
    padding-right: 0;
}

.widget_text ol li {
    list-style-position: inside;
}

.widget_text ol li + li {
    margin-top: -1px;
}