/* Calendar widget */

.widget_calendar .wp-calendar-table {
    margin-bottom: 0;
}

.widget_calendar .wp-calendar-nav {
    display: table;
    width: 100%;
    margin: 0 0 1.5em;
    padding: 0.4em 0;
}

.widget_calendar .wp-calendar-nav span {
    display: table-cell;
}

.widget_calendar .wp-calendar-nav-prev,
.widget_calendar .wp-calendar-nav-next {
    width: 40%;
}

.widget_calendar th,
.widget_calendar td,
.widget_calendar .wp-calendar-nav span {
    text-align: center;
}

.widget_calendar tfoot td {
    border: 0;
}