@import "alignment", "caption";

/* Media Elements */

@import "audio-player";

/* Playlist Color Overrides: Light */
.site-content {
    @import "playlist-light";
}

/* Playlist Color Overrides: Dark */
.site-content {
    @import "playlist-dark";
}

/* Playlist Style Overrides */
.site-content {
    @import "playlist-overrides";
}

/* SVG Icons base styles */

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    position: relative; /* Align more nicely with capital letters */
    top: -0.0625em;
    vertical-align: middle;
    width: 1em;
}