img,
video {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

img.alignleft,
img.alignright {
    float: none;
    margin: 0;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

audio:focus,
video:focus {
    outline: thin dotted;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    margin-bottom: 1.5em;
    max-width: 100%;
}

/* Remove bottom on embeds that wrapped in paragraphs via wpautop. */

p > embed:only-child,
p > iframe:only-child,
p > object:only-child {
    margin-bottom: 0;
}

.wp-caption,
.gallery-caption {
    color: #666;
    font-size: 13px;
    font-size: 0.8125rem;
    font-style: italic;
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

/* Media Elements */

.mejs-container {
    margin-bottom: 1.5em;
}

/* Audio Player */

.mejs-controls a.mejs-horizontal-volume-slider,
.mejs-controls a.mejs-horizontal-volume-slider:focus,
.mejs-controls a.mejs-horizontal-volume-slider:hover {
    background: transparent;
    border: 0;
}

/* Playlist Color Overrides: Light */

.site-content .wp-playlist-light {
    border-color: #eee;
    color: #222;
}

.site-content .wp-playlist-light .wp-playlist-current-item .wp-playlist-item-album {
    color: #333;
}

.site-content .wp-playlist-light .wp-playlist-current-item .wp-playlist-item-artist {
    color: #767676;
}

.site-content .wp-playlist-light .wp-playlist-item {
    border-bottom: 1px dotted #eee;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.site-content .wp-playlist-light .wp-playlist-item:hover,
.site-content .wp-playlist-light .wp-playlist-item:focus {
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: #767676;
    color: #fff;
}

.site-content .wp-playlist-light a.wp-playlist-caption:hover,
.site-content .wp-playlist-light .wp-playlist-item:hover a,
.site-content .wp-playlist-light .wp-playlist-item:focus a {
    color: #fff;
}

/* Playlist Color Overrides: Dark */

.site-content .wp-playlist-dark {
    background: #222;
    border-color: #333;
}

.site-content .wp-playlist-dark .mejs-container .mejs-controls {
    background-color: #333;
}

.site-content .wp-playlist-dark .wp-playlist-caption {
    color: #fff;
}

.site-content .wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-album {
    color: #eee;
}

.site-content .wp-playlist-dark .wp-playlist-current-item .wp-playlist-item-artist {
    color: #aaa;
}

.site-content .wp-playlist-dark .wp-playlist-playing {
    background-color: #333;
}

.site-content .wp-playlist-dark .wp-playlist-item {
    border-bottom: 1px dotted #555;
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.site-content .wp-playlist-dark .wp-playlist-item:hover,
.site-content .wp-playlist-dark .wp-playlist-item:focus {
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: #aaa;
    color: #222;
}

.site-content .wp-playlist-dark a.wp-playlist-caption:hover,
.site-content .wp-playlist-dark .wp-playlist-item:hover a,
.site-content .wp-playlist-dark .wp-playlist-item:focus a {
    color: #222;
}

/* Playlist Style Overrides */

.site-content .wp-playlist {
    padding: 0.625em 0.625em 0.3125em;
}

.site-content .wp-playlist-current-item .wp-playlist-item-title {
    font-weight: 700;
}

.site-content .wp-playlist-current-item .wp-playlist-item-album {
    font-style: normal;
}

.site-content .wp-playlist-current-item .wp-playlist-item-artist {
    font-size: 10px;
    font-size: 0.625rem;
    font-weight: 800;
    letter-spacing: 0.1818em;
    text-transform: uppercase;
}

.site-content .wp-playlist-item {
    padding: 0 0.3125em;
    cursor: pointer;
}

.site-content .wp-playlist-item:last-of-type {
    border-bottom: none;
}

.site-content .wp-playlist-item a {
    padding: 0.3125em 0;
    border-bottom: none;
}

.site-content .wp-playlist-item a,
.site-content .wp-playlist-item a:focus,
.site-content .wp-playlist-item a:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
}

.site-content .wp-playlist-item-length {
    top: 5px;
}

/* SVG Icons base styles */

.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    position: relative; /* Align more nicely with capital letters */
    top: -0.0625em;
    vertical-align: middle;
    width: 1em;
}