img,
video {
    height: auto; /* Make sure images are scaled correctly. */
    max-width: 100%; /* Adhere to container width. */
}

img.alignleft,
img.alignright {
    float: none;
    margin: 0;
}

.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

audio:focus,
video:focus {
    outline: thin dotted;
}

/* Make sure embeds and iframes fit their containers. */

embed,
iframe,
object {
    margin-bottom: 1.5em;
    max-width: 100%;
}

/* Remove bottom on embeds that wrapped in paragraphs via wpautop. */

p > embed:only-child,
p > iframe:only-child,
p > object:only-child {
    margin-bottom: 0;
}

.entry-content .aligncenter:not(.wp-block-gallery),
div.aligncenter:not(.wp-block-gallery),
figure.aligncenter:not(.wp-block-gallery) {
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.alignleft,
.entry-content .alignleft {
    float: left;
    margin-right: 20px;
}

.alignright,
.entry-content .alignright {
    float: right;
    margin-left: 20px;
}

.fullimg,
.fullimg figure {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    max-width: none;
}

.fullimg img,
.fullimg figure img {
    width: 100% !important;
    height: auto;
    margin-bottom: 20px;
}