/* Galleries */

.entry-content .tiled-gallery {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    
    .gallery {
        clear: both;
        text-align: center;
        max-width: 100%;

        a:hover {
            opacity: 0.6;
            transition: opacity 0.25s ease-in-out;
        }
    }
}

.gallery-item {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 1.5em;
    padding: 0 1em 0 0;
    width: 50%;
}

@for $i from 1 through 9 {
    .gallery-columns-#{ $i } .gallery-item {
        width: calc(100% / #{ $i });
        max-width: calc(100% / #{ $i });
    }
}

.gallery-item a,
.gallery-item a:hover,
.gallery-item a:focus,
.widget-area .gallery-item a,
.widget-area .gallery-item a:hover,
.widget-area .gallery-item a:focus {
    box-shadow: none;
    background: none;
    display: inline-block;
    max-width: 100%;
}

.gallery-item a img {
    display: block;
    transition: filter 0.2s ease-in;
    transition: filter 0.2s ease-in, -webkit-filter 0.2s ease-in;
    backface-visibility: hidden;
}

.gallery-item a:hover img,
.gallery-item a:focus img {
    filter: opacity(60%);
}

.gallery-icon img {
    margin: 0 auto;
}

.gallery-caption {
    color: #8c888c;
    margin: 15px 0;
    display: block;
    font-size: 12px;
    font-style: italic;
    line-height: 1.4;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}

.entry-content ul.blocks-gallery-grid {
    margin-bottom: 0;
}