
/* NEW */
$prefix: wpz-onboard_;

/* Colors */
$primary-color: #3496ff;
$secondary-color: scale-color($primary-color, $lightness: 25%);

$dark-color: #242628;
$medium-color: #1d2327;
$dark-blue-color: #2271b1;
$dark-grey-color: #666666;
$neutral-dark-color: #5e6164;
$deep-black-color: #333333;

$neutral-grey-color: #777777;
$grey-color: #dddddd;
$bluish-grey-color: #81909c;
$light-grey-color: #f2f4f6;
$very-light-grey-color: #f6f7f7;
$soft-grey-color: #c3c4c7;
$subtle-light-grey-color: #f7fafa;
$frosted-grey-color: #e1e5e9;
$black-transparent-10: #0000001A;

$light-color: #ffffff;
$light-blueish-color: #d8dffa;
$light-neutral-green-color: #c0cdf59e;
$light-aqua-color: #e2e9ec;

$alert-red: #e64946;
$green-color: #22bb66;


/* Font sizes */
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-15: 15px;
$font-size-16: 16px;
$font-size-17: 17px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-25: 25px;
$font-size-30: 30px;
