// Default color scheme
$primary-color: #0bb4aa !default;
$dark-color: #101010 !default;
$light-grey-color: #f2f4f6 !default;
$color-background-body: #fff !default;

// Footer
$color-text-footer: #78787f !default;
$color-link-footer: #fff !default;
$color-widget-title-footer: #fff !default;

// Misc.
$color-text-screen: #444444;
$color-link-hover: #000;

$color-link-title: #000;

$color-border: rgba(68, 68, 68, 0.19) !default;

$color-background-screen: #f1f1f1;
$color-background-hr: #eee;
$color-background-pre: #eee;
$color-background-ins: #fff9c0;


:root {
    --inspiro-primary-color: #{$primary-color};
    --inspiro-dark-color: #{$dark-color};
    --inspiro-light-grey-color: #{$light-grey-color};
    --inspiro-color-background-body: #{$color-background-body};
    --inspiro-color-link-hover: #{$color-link-hover};
}