$font-main: 'Libre Franklin', sans-serif;
$font-headings: 'Montserrat', sans-serif;
$font-code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;
$font-line-height-body: 1.8;
$font-line-height-pre: 1.6;
$entry-content-line-height: 1.9;
$font-size-root: 16px !default;