/* Blog landing, search, archives */

body:not(.has-archive-description):not(.has-header-image) {
    .page-title,
    &.page .entry-title {
        &:after {
            content: '';
            display: block;
            width: 130px;
            height: 1px;
            background: $color-border;
            margin: 40px auto 48px;
        }
    }
}

.blog,
.search,
.archive {
    .page-title {
        margin-top: em(32);

        span {
            text-transform: none;
        }
    }
}

.blog .site-main > article:not(.sticky),
.archive .site-main > article:not(.sticky),
.search .site-main > article:not(.sticky) {
    padding-bottom: em(60);

    &:after {
        content: "";
        display: block;
        width: 130px;
        height: 1px;
        background: $color-border;
        margin: 50px auto 0;
    }
}

body:not(.inspiro-front-page) .entry-header,
body:not(.inspiro-front-page) .entry-content,
body:not(.inspiro-front-page) #comments {
    margin-left: auto;
    margin-right: auto;
}

body:not(.inspiro-front-page) .entry-header {
    padding-top: 0;
}

body:not(.page-layout-sidebar-right) {
    #primary {
        max-width: calc( #{ $content-width } + 20px );
        margin: 0 auto;
        // margin: 0 auto em(48);
        padding-left: 10px;
        padding-right: 10px;

        .entry-header .inner-wrap,
        .entry-content {
            padding-left: 0;
            padding-right: 0;
        }
    }


    &.blog,
    &.archive,
    &.search {

        #primary {
            max-width: calc( #{ $content-width-small } + 20px );
        }

    }


    &.blog .site-main article,
    &.archive .site-main article,
    &.search .site-main article {
        text-align: center;

        .entry-title {
            text-align: center;
        }
    }
}

.blog,
.archive,
.search {
    .entry-meta {
        a {
            border-bottom: 1px solid #ccc;
            padding-bottom: 2px;

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.taxonomy-description {
    color: #666;
    @include font-size(14);
    text-align: center;

    p {
        margin: 0;
    }
}

body.has-archive-description:not(.has-header-image) {
    .taxonomy-description {
        &:after {
            content: '';
            display: block;
            width: 130px;
            height: 1px;
            background: $color-border;
            margin: 40px auto 48px;
        }
    }
}




/*
 * Alignment Styles - Originally from TT2.
 * These rules are temporary, and should not
 * be relied on or modified too heavily by
 * themes or plugins that build on foodie-blocks.
 * These are meant to be a precursor to a
 * global solution provided by the Block Editor.
 *
 * Relevant issues:
 * https://github.com/WordPress/gutenberg/issues/35607
 * https://github.com/WordPress/gutenberg/issues/35884
---------------------------------------------*/

body {
    --wp--custom--spacing--outer: 30px;
}

body > .is-root-container,
.edit-post-visual-editor__post-title-wrapper,
.wp-block-cover.alignfull,
.wp-block-group.alignfull,
.wp-block-group.has-background,
.wp-site-blocks {
    padding-left: var(--wp--custom--spacing--outer);
    padding-right: var(--wp--custom--spacing--outer);
}

.block-editor-block-list__layout.is-root-container > .alignfull,
.is-root-container > .wp-block-cover,
.is-root-container > .wp-block-group.has-background,
.is-root-container > .wp-block-template-part > .wp-block-cover,
.is-root-container > .wp-block-template-part > .wp-block-group.has-background,
.wp-site-blocks .alignfull,
.wp-site-blocks > .wp-block-cover,
.wp-site-blocks > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-cover,
.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background {
    margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
    width: unset;
}