/* Blog landing, search, archives */

.blog .site-main > article,
.archive .site-main > article,
.search .site-main > article {
    padding-bottom: em(60);

    &:after {
        content: "";
        display: block;
        width: 130px;
        height: 1px;
        background: #e6e6e6;
        margin: 50px auto 0;
    }
}

body:not(.inspiro-front-page) .entry-header,
body:not(.inspiro-front-page) .entry-content,
body:not(.inspiro-front-page) #comments {
    margin-left: auto;
    margin-right: auto;
}

body:not(.inspiro-front-page) .entry-header {
    padding-top: 0;
}

body:not(.page-layout-sidebar-right) {
    #primary {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }

    &.blog .site-main article,
    &.archive .site-main article,
    &.search .site-main article {
        text-align: center;

        .entry-title {
            text-align: center;
        }
    }
}

.blog,
.archive,
.search {
    .entry-meta {
        a {
            border-bottom: 1px solid #ccc;
            padding-bottom: 2px;

            &:hover {
                color: $primary-color;
            }
        }
    }
}

.taxonomy-description {
    color: #666;
    font-size: 13px;
    font-size: 0.8125rem;
}