/* Entry footer */

.entry-footer {
    text-align: center;
    font-family: $font-headings;
    color: #666;

    .tags-links {
        @include font-size(14);

        .separator {
            margin: 0 5px 0 0;
            color: #aaa;
        }
    }

    .share-links {
        a {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            @include font-size(14);
            font-family: inherit;
            color: #fff;
            padding: 5px 18px;
            border-radius: 3px;
            margin: 0 10px 0 0;
            -webkit-transition: all .2s ease;
            -o-transition: all .2s ease;
            transition: all .2s ease;
            font-weight: 500;

            &.inspiro-share-on-twitter {
                background-color: #3a93d8;
            }

            &.inspiro-share-on-facebook {
                background-color: #2e6cc8;
            }

            &.inspiro-share-on-linkedin {
                background-color: #0077b5;
            }
        }
    }

    .post-author {
        .section-title {
            clip: rect(1px, 1px, 1px, 1px);
            overflow: hidden;
            height: 1px;
            margin-bottom: em(48);
        }

        img {
            margin: 0 0 20px;
            border-radius: 50%;

            & + span {
                margin: 0 0 5px;
                display: block;
                text-transform: uppercase;
            }
        }

        a {
            @include font-size(18);
            color: #222;
            line-height: 1.8;

            &:hover {
                text-decoration: none;
                color: $color-link;
            }
        }
    }

    .tags-links,
    .share-links,
    .post-author {
        margin: 0 0 em(30) 0;
    }

    .section-title {
        margin-top: em(50);
        margin-bottom: em(20);
        color: #666;
        @include font-size(16);
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;

        &:before {
            content: '';
            display: block;
            width: 200px;
            height: 1px;
            background: #e6e6e6;
            margin: 0 auto em(48);
        }
    }

    > *:first-child .section-title {
        margin-top: 0;
    }
}