/* Entry footer */

.entry-footer {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    margin-top: 2em;
    padding: 2em 0;
}

.entry-footer .cat-links,
.entry-footer .tags-links {
    display: block;
    font-size: 11px;
    font-size: 0.6875rem;
    font-weight: 800;
    letter-spacing: 0.1818em;
    padding-left: 2.5em;
    position: relative;
    text-transform: uppercase;
}

.entry-footer .cat-links + .tags-links {
    margin-top: 1em;
}

.entry-footer .cat-links a,
.entry-footer .tags-links a {
    color: #333;
}

.entry-footer .cat-links .icon,
.entry-footer .tags-links .icon {
    color: #767676;
    left: 0;
    margin-right: 0.5em;
    position: absolute;
    top: 2px;
}

.entry-footer .edit-link {
    display: inline-block;
}

.entry-footer .edit-link a.post-edit-link {
    background-color: #222;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    margin-top: 2em;
    padding: 0.7em 2em;
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    white-space: nowrap;
}

.entry-footer .edit-link a.post-edit-link:hover,
.entry-footer .edit-link a.post-edit-link:focus {
    background-color: #767676;
}