/* More tag */

.entry-content .more-link,
.entry-content .more_link {
    font-weight: bold;
    display: table;
    text-align: center;
    margin: 10px auto 0;
}
.entry-summary .link-more {
    margin-bottom: 0;
}