/* Post Navigation */

.previous-post-cover {
    margin: 60px auto 0;
    background: #0f1010;
    color: #fff;
    text-align: center;

    a {
        display: block;

        &:hover {
            text-decoration: none;
        }
    }

    .previous-info {
        margin: 0;
        z-index: 1;
        padding: 10% 5%;
        min-height: 250px;
        position: relative;
    }

    .previous-cover {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .6;
        background-size: cover;
        background-position: center center;
        background-color: #000;
        transition: .2s ease all;
    }

    &:hover .previous-cover {
        opacity: .4;
    }

    .previous-content {
        position: relative;
        z-index: 50;
        max-width: $content-width;
        margin: 0 auto;

        .nav-subtitle {
            font-weight: 700;
            margin: 0 0 15px;
            color: #fff;
            opacity: .7;
            display: block;
            @include font-size(16);
        }

        .nav-title {
            color: #fff;
            @include font-size(48);
            font-weight: 700;
            line-height: 1.4;
            border-bottom: 1px solid transparent;
            transition: border-bottom .2s ease;

            &:hover {
                border-bottom: 1px solid #fff;
            }
        }
    }
}