/* Post Landing Page */

.sticky {
    position: relative;
}

.post:not(.sticky) .icon-thumb-tack {
    display: none;
}

.sticky .icon-thumb-tack {
    display: block;
    height: 18px;
    left: -1.5em;
    position: absolute;
    top: 1.65em;
    width: 20px;
}

.page-title {
    margin-top: em(32);
    color: #222;
    @include font-size(26);
    font-weight: bold;
    text-align: center;
    font-family: $font-headings;
    text-transform: uppercase;

    &:after {
        display: block;
        content: " ";
        width: 130px;
        height: 1px;
        background: #E6E6E6;
        margin: 40px auto 48px;
    }
}

body.page:not(.inspiro-front-page) .entry-title {
    color: #222;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    text-transform: uppercase;
}

.home.blog {
    .entry-title {
        margin-top: 0;
        color: #222;
        @include font-size(26);
        font-weight: bold;
        text-align: center;
        font-family: $font-headings;
        text-align: left;
    }

    .entry-meta {
        @include font-size(16);
        margin-bottom: 20px;
        padding: 0;

        a {
            border-bottom: 1px solid #ccc;
            padding-bottom: 2px;
        }
    }
}

.entry-header .entry-title {
    margin-bottom: 20px;
}

.entry-title {
    color: #222;
    @include font-size(26);
    font-weight: 700;
    font-family: $font-headings;

    &:not(:first-child) {
        padding-top: 0;
    }

    a {
        color: $color-link-title;
        text-decoration: none;
        margin-left: -2px;

        &:hover {
            color: $color-link-title-hover;
            text-decoration: none;
        }    
    }
}

.entry-meta {
    color: #999;
    @include font-size(16);
    margin: 0 0 20px;

    span {
        display: inline;

        & + span:before {
            content: " /  ";
            color: #b6babb;
            margin: 0 5px;
            font-style: normal;
            opacity: .5;
        }
    }

    a {
        color: #222;
    }
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}