/* Post Landing Page */

.sticky {
    position: relative;
}

.post:not(.sticky) .icon-thumb-tack {
    display: none;
}

.sticky .icon-thumb-tack {
    display: block;
    height: 18px;
    left: -1.5em;
    position: absolute;
    top: 1.65em;
    width: 20px;
}

.page-title {
    margin-top: em(32);
    color: #222;
    @include font-size(26);
    font-weight: bold;
    text-align: center;
    font-family: $font-headings;
    text-transform: uppercase;

    &:after {
        display: block;
        content: " ";
        width: 130px;
        height: 1px;
        background: #E6E6E6;
        margin: 40px auto 48px;
    }
}

body.page:not(.inspiro-front-page) .entry-title {
    color: #222;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    letter-spacing: 0.14em;
    text-transform: uppercase;
}

.home.blog {
    .entry-title {
        margin-top: 0;
        color: #222;
        @include font-size(26);
        font-weight: bold;
        text-align: center;
        font-family: $font-headings;
        text-align: left;
    }

    .entry-meta {
        @include font-size(16);
        margin-bottom: 20px;
        padding: 0;

        a {
            border-bottom: 1px solid #ccc;
            padding-bottom: 2px;
        }
    }
}

.entry-header .entry-title {
    margin-bottom: 20px;
}

.entry-title a {
    color: $color-link-title;
    text-decoration: none;
    margin-left: -2px;

    &:hover {
        color: $color-link-title-hover;
        text-decoration: none;
    }    
}

.entry-title:not(:first-child) {
    padding-top: 0;
}

.entry-meta {
    color: #999;
    @include font-size(14);

    span {
        display: inline;

        & + span:before {
            content: " /  ";
            color: #b6babb;
            margin: 0 5px;
            font-style: normal;
            opacity: .5;
        }
    }

    a {
        color: #000;
    }
}

.byline,
.updated:not(.published) {
    display: none;
}

.single .byline,
.group-blog .byline {
    display: inline;
}

.pagination,
.comments-pagination {
    border-top: 1px solid #eee;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 800;
    padding: 2em 0 3em;
    text-align: center;
}

.pagination .icon,
.comments-pagination .icon {
    width: 0.666666666em;
    height: 0.666666666em;
}

.comments-pagination {
    border: 0;
}

.page-numbers {
    display: none;
    padding: 0.5em 0.75em;
}

.page-numbers.current {
    color: #767676;
    display: inline-block;
}

.page-numbers.current .screen-reader-text {
    clip: auto;
    height: auto;
    overflow: auto;
    position: relative !important;
    width: auto;
}

.prev.page-numbers,
.next.page-numbers {
    background-color: #ddd;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
    padding: 0.25em 0.5em 0.4em;
}

.prev.page-numbers,
.next.page-numbers {
    -webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.3s ease-in-out;
}

.prev.page-numbers:focus,
.prev.page-numbers:hover,
.next.page-numbers:focus,
.next.page-numbers:hover {
    background-color: #767676;
    color: #fff;
}

.prev.page-numbers {
    float: left;
}

.next.page-numbers {
    float: right;
}