/* Single Post */

.single.has-sidebar.page-layout-sidebar-right .entry-header .inner-wrap,
.single .entry-wrapper {
    max-width: $content-width;
    margin: em(60) auto;
    padding-left: em(20);
    padding-right: em(20);
}

.single.has-sidebar.page-layout-sidebar-right .entry-header .inner-wrap {
    margin-top: em(45);
    margin-bottom: 0;
}

.page .entry-header .inner-wrap,
.page .entry-content,
.page:not(.inspiro-front-page) .entry-footer,
.single .entry-header .inner-wrap,
.single .entry-content,
.single .entry-footer {
    margin: em(45) auto;
    max-width: calc( #{ $content-width-small } + 20px );
    padding-left: 10px;
    padding-right: 10px;
}

.page .entry-content,
.single .entry-content  {
    margin-bottom: 0;
}

.page .full-width .entry-content,
.single .full-width .entry-content {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.page,
.single {
    .entry-cover-image {
        position: relative;
        height: 450px;
        overflow: hidden;
        // margin-top: -2.5em;

        &.cover_fullscreen {
            height: 100vh;
            max-height: 100vh;
            max-height: -webkit-fill-available;
        }

        &:after {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .5) 100%);
            background-repeat: repeat-x;
        }

        .entry-header {
            position: absolute;
            bottom: 5%;
            width: 100%;
            z-index: 5;

            .inner-wrap {
                margin-bottom: 0;
            }

            .entry-title {
                color: #fff;
                @include font-size(45);
                text-transform: none;
                font-weight: 600;
                text-align: left;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 0;
                font-family: inherit;
            }

            .entry-meta {
                color: #fff;
                opacity: 0.8;
                @include font-size(16);

                a {
                    color: inherit;
                    font-weight: 600;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .single-featured-image-header {
            position: relative;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.page,
.single {
    &.page-layout-full-width {
        article:not(.has-post-thumbnail) {
            .inner-wrap {
                // padding-left: 10px;
                // padding-right: 10px;
                max-width: calc( #{ $content-width-small } + 20px );
            }
        }
    }

    .entry-meta {
        margin-bottom: 0;
    }
}

/* Gutenberg */

.entry-content {
    .alignfull {
        margin-left: calc( -100vw / 2 + 100% / 2);
        margin-right: calc( -100vw / 2 + 100% / 2);

        .wp-block-cover__inner-container,
        .wp-block-group__inner-container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            padding-left: 2em;
            padding-right: 2em;
        }
    }

    .alignfull,
    .alignfull:not(.wp-block-group):not(.wp-block-post-featured-image):not(.wp-block-query):not(.wpzoom-blocks_portfolio-block):not(.wp-block-cover) img {
        width: 100vw;
        max-width: 100vw;
    }

    .wp-block-columns {
        // max-width: 1200px;
        // margin-left: auto;
        // margin-right: auto;
        // padding-left: 1.25em;
        // padding-right: 1.25em;
    }
}

.single-featured-image-header img {
    display: block;
    margin: auto;
}

.wp-block-button {
    a {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
        font-family: $font-headings;
        text-decoration: none !important;
        transition: background-color .3s ease;

        &:hover {
            background-color: $primary-color;
            color: #fff;
            border-color: $primary-color;
        }
    }

    &.is-style-outline {
        a:hover {
            background-color: $primary-color;
            color: #fff;
            border-color: $primary-color;
        }
    }
}

.entry-content > {

    .wp-block-gallery,
    p,
    p.has-text-align-center {
    }

}

.builder-wrap > {

    .wp-block-gallery,
    p,
    p.has-text-align-center {
        margin: 2.8125em auto;
        max-width: calc(950px + 20px);
        padding-left: 2em;
        padding-right: 2em;
    }

}

.wp-block-group > .wp-block-group__inner-container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
}


.wp-block-group:where(.has-background) {
    padding-left: 0 !important;
    padding-right: 0 !important;
}


.wp-block-post {
    list-style-type: none !important;

    .wp-block-post-title {
        font-size: 1.3em;

        a {
            text-decoration: none !important;
            color: #000;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .more-link{
        font-weight: 700;
        display: table;
        text-align: left;
        margin: 10px 0;
        text-decoration: none;
    }
}


@media screen and (max-width: 500px) {

    .page .entry-cover-image,
    .single .entry-cover-image,
    .single-featured-image-header {
        height: 400px;
    }

}
