/* Single Post */

.single .entry-wrapper {
    max-width: $content-width;
    margin: em(60) auto;
    padding-left: em(32);
    padding-right: em(32);
}

.page .entry-content,
.single .entry-content,
.single .entry-footer,
.page:not(.inspiro-front-page) .entry-footer {
    margin: em(45) auto;
    max-width: calc( #{ $content-width-small } + 20px );
    padding-left: 10px;
    padding-right: 10px;
}

.page .full-width .entry-content,
.single .full-width .entry-content {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.page,
.single {
    .entry-cover-image {
        position: relative;
        max-height: 450px;
        overflow: hidden;
        margin-top: -2.5em;

        &:after {
            content: " ";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .5) 100%);
            background-image: -o-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .5) 100%);
            background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .1)), to(rgba(0, 0, 0, .5)));
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .5) 100%);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1A000000', endColorstr='#80000000', GradientType=0)
        }

        .entry-header {
            position: absolute;
            bottom: 30px;
            width: 100%;
            z-index: 5;

            .inner-wrap {
                padding-left: 10px;
                padding-right: 10px;
                max-width: calc( #{ $content-width-small } + 20px );
            }

            .entry-title {
                color: #fff;
                @include font-size(45);
                text-transform: none;
                font-weight: 600;
                text-align: left;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 0;
                font-family: inherit;
            }

            .entry-meta {
                color: #fff;
                opacity: 0.8;
                @include font-size(16);

                a {
                    color: inherit;
                    font-weight: 600;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }

        .single-featured-image-header {
            position: relative;

            img {
                width: 100%;
            }
        }
    }
}

.page,
.single {
    article:not(.has-post-thumbnail) {
        .inner-wrap {
            margin: em(70) auto 0;
        }
    }

    .entry-meta {
        margin-bottom: 0;
    }
}

/* Gutenberg Images */

.page,
.single {
    .entry-content {
        .alignfull {
            margin-left: calc( -100vw / 2 + 100% / 2);
            margin-right: calc( -100vw / 2 + 100% / 2);
        }

        .alignfull,
        .alignfull img {
            width: 100vw;
            max-width: 100vw;
        }
    }
}

.single-featured-image-header img {
    display: block;
    margin: auto;
}