/* Single Post */

.single .entry-content,
.page:not(.inspiro-front-page) .entry-content,
.single .entry-footer,
.page:not(.inspiro-front-page) .entry-footer {
    margin: em(45) auto;
    max-width: 950px;
}

.single-featured-image-header img {
    display: block;
    margin: auto;
}