.navbar {
    position: relative;
    z-index: 200;
    color: #fff;
    background: $dark-color;
    padding: 18px 0;
    transition: all 0.5s ease-in-out;

    &:before,
    &:after {
        @include clearfix();
    }
    &:after {
        @include clearfix-after();
    }
    a {
        color: inherit;
    }
    .header-inner {
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-between;

        &:before,
        &:after {
            display: none;
        }

        .navbar-secondary {
            display: none;
        }
    }
    .header-logo-wrapper {
        margin-right: em(10);
        max-width: 50%;
    }
    .header-logo-wrapper {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0;
        text-align: left;
    }
    .header-navigation-wrapper {
        align-items: center;
        display: flex;
    }
}
.has-header-image,
.has-header-video {
    .navbar {
        position: absolute;
        width: 100%;
        background: none;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1%, rgba(0, 0, 0, 0) 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33000000', endColorstr='#00000000', GradientType=0);
    }
}

.navbar-toggle {
    display: none;
    position: relative;
    margin: 0;
    margin-left: em(10);
    padding-left: 0;
    padding-right: 0;
    width: 40px;
    border-color: transparent;
    background: transparent;
}

.inspiro--with-page-nav .navbar-toggle {
    display: block;
}

.navbar-toggle:hover {
    border-color: transparent;
    background-color: transparent;
}

.navbar-toggle .icon-bar {
    position: relative;
    display: block;
    width: 22px;
    height: 2px;
    background: #fff;
    transition: all 0.2s ease-in-out;
}

.navbar-toggle  .icon-bar:nth-child(3) {
    width: 17px;
}


.navbar-toggle:hover .icon-bar {
    width: 17px;
}

.navbar-toggle:hover .icon-bar:nth-child(3) {
    width: 22px;
}

.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 5px;
}


/* hamburger animation */

.navbar-toggle .icon-bar {
    -webkit-transition: width .13s ease-out, -webkit-transform .13s ease-out, opacity .13s ease-out;
    transition: width .13s ease-out, transform .13s ease-out, opacity .13s ease-out;
}

/* hamburger when side-nav is opened */

.side-nav-open .navbar-toggle .icon-bar:nth-child(2) {
    -webkit-transform: rotateZ(-45deg) translate3d(-5px, 5px, 0);
    transform: rotateZ(-45deg) translate3d(-5px, 5px, 0);
    width: 28px;
}

.side-nav-open .navbar-toggle .icon-bar:nth-child(3) {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 0;
}

.side-nav-open .navbar-toggle .icon-bar:nth-child(4) {
    -webkit-transform: rotateZ(45deg) translate3d(-5px, -5px, 0);
    transform: rotateZ(45deg) translate3d(-5px, -5px, 0);
    width: 28px;
}

.navbar-nav {
    display: flex;
    font-weight: 400;
    flex-wrap: wrap;
    justify-content: flex-end;

    > li {
        margin: 0 em(15);

        > ul:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -8px;
            width: 0;
            height: 0;
            border-bottom: 8px solid $primary-color;
            border-right: 8px solid transparent;
            border-left: 8px solid transparent;
        }

        &.current-menu-item > a,
        &.current_page_item > a,
        &.current-menu-parent > a,
        &.current_page_parent > a {
            border-bottom: 1px solid rgba(255,255,255,.3);
        }

    }

    a {
        padding: em(5) 0 em(3);
        font-family: $font-headings;
        font-weight: 500;
        border-bottom: 1px solid transparent;
        -webkit-transition: 0.2s ease all;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease border-color, 0.2s ease color;
    }

    > li > a:hover {
        text-decoration: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        color: inherit;
        opacity: .8;
    }

    .menu-item-has-children .svg-icon {
        margin-left: em(4);
        width: 18px;
        height: 18px;
        display: inline-block;
        vertical-align: text-top;
        fill: #fff;
    }

    ul .menu-item-has-children .svg-icon {
        position: absolute;
        width: 18px;
        height: 18px;
        right: em(10);
        top: 50%;
        fill: #fff;
        transform: rotate(-90deg) translateX(50%);
    }
}

.inspiro--with-page-nav .navbar-nav>li:last-child {
    margin-right: 0
}
