/* Sidebar */
.site {
    position: relative;
    transition: transform .18s ease;
}
.side-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: -70px;
    overflow: hidden;
    width: $sidebar-nav-width;
    z-index: -1;
    visibility: hidden;

    transform-style: preserve-3d;
    -webkit-overflow-scrolling: touch;

    .navbar-nav {
        display: none;
        margin-bottom: 40px;
        padding: 0;
    }

    .widget_block,
    .widget {
        margin-bottom: 40px;
        max-width: 100%;
        &:last-child {
            margin-bottom: 0;
        }

        .wp-block-group__inner-container > h2,
        .wp-block-search__label,
        .title {
            @include font-size(18);
            color: #fff;
            text-transform: uppercase;
            margin-bottom: 20px;
            font-family: $font-headings;
        }
    }


    .wp-block-group>.wp-block-group__inner-container {
        padding: 0;
    }



}
.side-nav-transitioning .side-nav {
    visibility: visible;
}
.side-nav-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 600;
}
.side-nav-transitioning,
.side-nav-open .side-nav-overlay {
    display: block;
    right: $sidebar-nav-width;
    z-index: 900;
    cursor: e-resize;
}
.side-nav__scrollable-container {
    position: relative;

    padding-bottom: 70px;
    /* .side-nav's bottom value */
    height: 100%;
    overflow: auto;

    background-color: $dark-color;
    color: #78787f;

    -webkit-overflow-scrolling: touch;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    transform: translateX($sidebar-nav-width);

    transition: transform .18s ease;

    h2,h3,h1,h4,h5,h6 {
        color: #fff;
    }
}
.side-nav__scrollable-container::-webkit-scrollbar {
    display: none;
}
.side-nav__wrap {
    position: relative;
    padding: 60px 30px;
    .navbar-toggle {
        margin: 5px 0 0;
        padding-right: 0;
    }
}
.side-nav__close-button {
    display: none;
    &:before,
    &:after {
        @include clearfix();
    }
    &:after {
        @include clearfix-after();
    }
}
.admin-bar .side-nav__wrap {
    padding-top: calc( 32px + 18px + 12px );
}

// Open state
body.side-nav-open {
    height: 100%;
    .site {
        z-index: 300;
        transform: translateX(-$sidebar-nav-width);
    }
    .side-nav {
        visibility: visible;
        z-index: 600;
    }
    .side-nav__scrollable-container {
        transform: translateX(0);
    }
	&.has-header-image {
		.custom-header-media {
			img {
				position: absolute;
			}
		}
	}
	&.has-header-video {
		.custom-header-media {
			video,
			iframe {
				position: absolute;
			}
		}
	}
}
