.sf-menu,
.sf-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sf-menu {
    ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        z-index: 99;
    }
    li {
        position: relative;
        &:hover,
        &.sfHover {
            ul {
                display: block;
            }
        }
    }
    a {
        display: block;
        position: relative;
    }
    ul ul {
        top: 0;
        left: 100%;
    }
}
// .sf-arrows .sf-with-ul:after {
//     content: "\f347";
//     display: inline-block;
//     -webkit-font-smoothing: antialiased;
//     font: normal 12px/16px 'dashicons';
//     vertical-align: middle;
//     margin-left: 4px;
// }
// .sf-arrows ul .sf-with-ul:after {
//     content: "\f345";
//     display: inline-block;
//     -webkit-font-smoothing: antialiased;
//     font: normal 12px/22px 'dashicons';
//     float: right;
//     vertical-align: top;
//     margin: 2px 0 0 4px;
// }
// .sf-arrows ul li > .sf-with-ul:focus:after,
// .sf-arrows ul li:hover > .sf-with-ul:after,
// .sf-arrows ul .sfHover > .sf-with-ul:after {
//     border-left-color: white
// }