/* Pages */

.page-title,
.page .entry-title {
    // margin-top: em(32);
    margin-top: 0;
    color: #222;
    @include font-size(26);
    font-weight: bold;
    text-align: center;
    font-family: $font-headings;
    text-transform: uppercase;
}

.page #comments {
    padding-left: 0;
    padding-right: 0;
}

@import "404";


.wpzoom-blocks_portfolio-block .wpz-portfolio-button__link {
    border-radius: 0;
    font-family: $font-headings;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    transition: .2s ease all;
}


.portfolio-dark.wpzoom-blocks_portfolio-block .wpz-portfolio-button__link {
    background: none;
    border: 2px solid #fff !important;

    &:focus,
    &:hover {
        background: #fff;
        color: #000 !important;
        border-color: #fff;
    }
}