.page-header {
    padding-bottom: 2em;
}

.page .entry-header .edit-link {
    font-size: 14px;
    font-size: 0.875rem;
}

.search .page .entry-header .edit-link {
    font-size: 11px;
    font-size: 0.6875rem;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.page:not(.home) #content {
    padding-bottom: 1.5em;
}