html {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    margin: 0;
    padding: 0;
    // overflow-x:hidden;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: $color-background-body;
    /* Fallback for when there is no custom background color defined. */
}

#page {
    position: relative;
    word-wrap: break-word;
}

.wrap,
.inner-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: $content-width;
    padding-left: em(20);
    padding-right: em(20);

    &:before,
    &:after {
        @include clearfix();
    }

    &:after {
        @include clearfix-after();
    }
}