html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

#page {
    position: relative;
    word-wrap: break-word;
}

.inner-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 2em;
    padding-right: 2em;
}

.inner-wrap:after {
    clear: both;
    content: "";
    display: block;
}