#comments {
    clear: both;
    max-width: calc( #{ $content-width-small } + 20px );
    margin: 0 auto;
    padding: 0 10px;
}

#comments > h3,
#respond > h3 {
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px;
    font-family: $font-headings;

    &:after {
        width: 130px;
        content: " ";
        border-bottom: 1px solid $color-border;
        bottom: -40px;
        left: 0;
        position: absolute;
    }
}

#respond {
    margin-bottom: em(85);

    h3 {
        margin-top: 100px
    }

    .form_fields p {
        margin-bottom: 15px
    }

    textarea {
        width: 100%
    }

    label {
        display: block;
    }

    #submit {
        width: auto;

        &:hover {
            color: $primary-color;
            border-color: $primary-color;
        }
    }

    code {
        white-space: pre-wrap
    }
}

.comment-notes {
    margin-bottom: 20px;
    font-style: italic;
}

.commentlist {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        list-style-type: none
    }

    .children {
        margin-left: 50px
    }

    .comment {
        margin-bottom: 80px;
        position: relative;

        &:after {
            width: 130px;
            content: " ";
            border-bottom: 1px solid $color-border;
            bottom: -40px;
            left: 0;
            position: absolute;
        }
    }
}

.comment-author {
    &:before,
    &:after {
        @include clearfix();
    }

    &:after {
        @include clearfix-after();
    }

    .avatar {
        float: left;
        border-radius: 50%;
        margin-right: 22px;
        margin-bottom: 27px;
    }

    .fn,
    .fn a {
        color: #222;
        @include font-size(20);
        font-style: normal;
        font-weight: 700;
    }

    .fn a:hover {
        text-decoration: none;
        color: $primary-color;
    }

    .comment-meta,
    .comment-meta a {
        color: #bbbbbb;
        @include font-size(16);
    }
}

.comment-body {
    margin-bottom: 40px;
}

.form-allowed-tags {
    display: none
}

#respond .comment-form-cookies-consent label {
    display: inline;
    margin-left: 10px;
    text-transform: none;
    font-family: inherit;
    @include font-size(14);
}

.bypostauthor {
    padding: 2em;
    margin-bottom: 1em;

    .bypostauthor {
        background: transparent;
        margin-bottom: 0;
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 0;
    }
    
    li {
        background: transparent;
        margin-bottom: 0;
        padding: 0 0 0 2em;
    }
}
