#comments {
    clear: both;
    max-width: 970px;
    margin: 0 auto;
    padding: 0 10px;
}

#comments > h3,
#respond > h3 {
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px;
    font-family: $font-headings;

    &:after {
        width: 130px;
        content: " ";
        border-bottom: 1px solid #E6E6E6;
        bottom: -40px;
        left: 0;
        position: absolute;
    }
}

#respond {
    margin-bottom: 85px;

    h3 {
        margin-top: 100px
    }

    .form_fields p {
        margin-bottom: 15px
    }

    input[type="text"] {
        width: 40%
    }

    textarea {
        width: 100%
    }

    #submit {
        width: auto
    }

    code {
        white-space: pre-wrap
    }
}

.comment-notes {
    margin-bottom: 20px;
    font-style: italic;
}

.commentlist {
    list-style-type: none;
    padding: 0;

    li {
        list-style-type: none
    }

    .children {
        margin-left: 50px
    }

    .comment {
        margin-bottom: 80px;
        position: relative;

        &:after {
            width: 130px;
            content: " ";
            border-bottom: 1px solid #e6e6e6;
            bottom: -40px;
            left: 0;
            position: absolute;
        }
    }
}

.comment-author {
    &:before,
    &:after {
        @include clearfix();
    }

    &:after {
        @include clearfix-after();
    }

    .avatar {
        float: left;
        border-radius: 50%;
        margin-right: 22px;
        margin-bottom: 27px;
    }

    .comment-meta,
    .comment-meta a {
        color: #bbbbbb;
        font-size: 16px;
    }
}

.comment-body {
    margin-bottom: 40px;
}

.form-allowed-tags {
    display: none
}

#respond .comment-form-cookies-consent label {
    display: inline;
    margin-left: 10px;
    text-transform: none;
    font-family: inherit;
    font-size: 14px;
}
