.site-content-contain {
    background-color: $color-background-body;
    position: relative;
}

.site-content {
    // padding: 2.5em 0 0;
}

.page-template-homepage-builder-bb .site-content,
.page-template-full-width-no-title .site-content,
.page-template-full-width-transparent .site-content {
    padding-top: 0 !important;
}
