.site-footer {
    background: $color-background-footer;
    color: $color-text-footer;

    &.has-footer-widgets {
        .inner-wrap {
            padding-bottom: 0;

        }
    }

    .footer-widgets {
        padding-top: 30px;
    }
}

.home .site-footer {
    border-top: 1px solid rgba(255,255,255,.1);
}

.site-footer-separator {
    background: rgba(255,255,255,.1);
    height: 1px;
    width: 100%;
    border: none;
    margin-bottom: 0;
}

@import "site-info", "social-navigation", "widgets";