/* Site info */

.site-info {
    @include font-size(14);
    padding: em(30) 0;
    margin: 0;

    a {
        color: $color-link-footer;
        &:hover {
            color: var(--inspiro-primary-color);
        }
    }
    .copyright {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        span {
            &:nth-child(1) {
                flex: 0 0 50%;
                text-align: left;
            }
            &:nth-child(2) {
                flex: 0 0 50%;
                text-align: right;
            }
        }
    }
}