/* Footer widgets */

.site-footer {
    .footer-widgets {
        .title {
            color: $color-widget-title-footer;
        }

        .widget_block > h2 {
            margin: 0;
            font-size: 20px;
            text-transform: uppercase;
            font-family: $font-headings;
            font-weight: 700;
            color: $color-widget-title-footer;
        }

        .widget_block > .title {
            margin-bottom: 20px;
        }

    }
}