input,
textarea {
    font-family: $font-main;
    color: #444;
}

label {
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    padding: 11px 10px;
    @include font-size($font-size-root);
    background: white;
    border: 2px solid rgba(68, 68, 68, 0.19);
    width: auto;
    border-radius: 0;
}

input[type=text],
input[type=phone],
textarea {
    box-sizing: border-box;
    display: block;
    margin-bottom: 15px;
    width: 100%;
}

input:focus, textarea:focus {
    border-color: $primary-color;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}